<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/static/images/logo.svg" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <title>{{title}}</title>
  </head>
  <body class="bg-gray-100">
    <!-- Navbar -->
    {% include 'components/Navbar.html' %}

    <main id="mainSection">
      <!-- Hero Section -->
      {% include 'components/HeroSection.html' %}

      <!-- Planner Section -->
      {% include 'components/PlannerSection.html' %}

      <!-- Blog Section -->
      {% include 'components/BlogSection.html' %}

      <!-- Categories Section -->
      {% include 'components/CategoriesSection.html' %}

      <!-- Stories Section -->
      {% include 'components/StoriesSection.html' %}

      <!-- Testimonials Section -->
      {% include 'components/TestimonialsSection.html' %}
    </main>

    <!-- Footer -->
    {% include 'components/Footer.html' %}

    <script>
      feather.replace();
    </script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
