<div class="mt-32" id="categories">
  <section
    class="w-4/5 mx-auto flex flex-col md:flex-row md:justify-between items-center"
  >
    <!-- header and arrow buttons -->
    <div class="w-full md:w-1/5 mr-auto">
      <h2 class="text-3xl font-light">Categories</h2>
      <div class="h-1 bg-gray-300 w-10 mt-2"></div>
    </div>
    <div class="w-full md:w-1/2">
      <p class="text-sm text-gray-500 font-normal my-4 leading-loose">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
        mollitia enim aliquid debitis, dolor deserunt Nihil in culpa vitae
        quibusdam qui earum cum! Similique eveniet at magnam laboriosam
        consequatur illo.
      </p>
    </div>
    <div class="flex justify-center w-full md:w-1/5 ml-auto">
      <div>
        <button
          class="bg-white text-gray-500 border border-gray-400 py-4 px-4 text-xs font-semibold flex justify-center items-center mr-3 cursor-pointer transform transition duration-300 hover:bg-blue-600 hover:border-blue-600 hover:text-white hover:shadow-xl"
          id="prevBtn"
        >
          <i data-feather="arrow-left" class="h-4"></i>
        </button>
      </div>
      <div>
        <button
          class="bg-white text-gray-500 border border-gray-400 py-4 px-4 text-xs font-semibold flex justify-center items-center cursor-pointer transform transition duration-300 hover:bg-blue-600 hover:border-blue-600 hover:text-white hover:shadow-xl"
          id="nextBtn"
        >
          <i data-feather="arrow-right" class="h-4"></i>
        </button>
      </div>
    </div>
  </section>

  <section
    class="w-full grid grid-cols-4 gap-5 justify-center md:justify-between w-full slideshow px-6 mt-4 overflow-x-auto"
  >
    <!-- category cards -->
    {% for card in cards %}
    <div class="w-full h-full card relative" id="slideshow">
      <img src="{{ card.image }}" alt="{{ card.title }}" />
      <div class="absolute overlay-text w-full flex flex-col items-center">
        <p class="text-white text-xl tracking-tight">{{ card.title }}</p>
        <p class="text-xs text-gray-500 font-semibold uppercase mt-1">
          {{ card.content }}
        </p>
      </div>
    </div>
    {% endfor %}
  </section>

  <section class="mt-16">
    <!-- Slider indicators -->
    <div class="flex mx-auto justify-center">
      <div class="h-1 w-10 bg-gray-400 mr-4"></div>
      <div class="h-1 w-10 bg-gray-400 mr-4"></div>
      <div class="h-1 w-10 bg-blue-600 mr-4"></div>
      <div class="h-1 w-10 bg-gray-400 mr-4"></div>
      <div class="h-1 w-10 bg-gray-400"></div>
    </div>
  </section>
</div>
