<footer id="footer" class="py-8 mt-32">
  <div
    class="px-8 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
  >
    <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">
      <div class="sm:col-span-2">
        <a
          href="/"
          aria-label="Go home"
          title="Company"
          class="inline-flex items-center"
        >
          <h1 class="text-2xl text-white font-bold">Vacarion</h1>
        </a>
        <div class="mt-6 lg:max-w-sm">
          <p class="text-sm text-white">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam.
          </p>
          <p class="mt-4 text-sm text-white">
            Eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo.
          </p>
        </div>
      </div>
      <div class="space-y-2 text-sm">
        <p class="text-base font-bold tracking-wide text-white">Contacts</p>
        <div class="flex">
          <p class="mr-1 text-white">Phone:</p>
          <a
            href="tel:850-123-5021"
            aria-label="Our phone"
            title="Our phone"
            class="text-white transition-colors duration-300 text-deep-purple-accent-400 hover:text-deep-purple-800"
            >850-123-5021</a
          >
        </div>
        <div class="flex">
          <p class="mr-1 text-white">Email:</p>
          <a
            href="mailto:info@lorem.mail"
            aria-label="Our email"
            title="Our email"
            class="text-white transition-colors duration-300 text-deep-purple-accent-400 hover:text-deep-purple-800"
            >info@lorem.mail</a
          >
        </div>
        <div class="flex">
          <p class="mr-1 text-white">Address:</p>
          <a
            href="https://www.google.com/maps"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Our address"
            title="Our address"
            class="text-white transition-colors duration-300 text-deep-purple-accent-400 hover:text-deep-purple-800"
          >
            312 Lovely Street, NY
          </a>
        </div>
      </div>
      <div>
        <span class="text-base font-bold tracking-wide text-white">Social</span>
        <div class="flex items-center mt-1 space-x-3">
          <ul class="flex items-center">
            <li
              class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
            >
              <i class="h-4 w-4" data-feather="instagram"></i>
            </li>
            <li
              class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
            >
              <i class="h-4 w-4" data-feather="twitter"></i>
            </li>
            <li
              class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
            >
              <i class="h-4 w-4" data-feather="linkedin"></i>
            </li>
            <li
              class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
            >
              <i class="h-4 w-4" data-feather="facebook"></i>
            </li>
            <li
              class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
            >
              <i class="h-4 w-4" data-feather="youtube"></i>
            </li>
          </ul>
        </div>
        <p class="mt-4 text-sm text-white">
          Bacon ipsum dolor amet short ribs pig sausage prosciutto chicken spare
          ribs salami.
        </p>
      </div>
    </div>
    <div
      class="flex flex-col-reverse justify-between pt-5 pb-10 border-t lg:flex-row"
    >
      <p class="text-sm text-white">&copy; Vacarion 2020 All Rights Reserved</p>
      <ul
        class="flex flex-col mb-3 space-y-2 lg:mb-0 sm:space-y-0 sm:space-x-5 sm:flex-row"
      >
        <li>
          <a
            href="/"
            class="text-sm text-white transition-colors duration-300 hover:text-deep-purple-accent-400"
            >Terms &amp; Conditions</a
          >
        </li>
        <li>
          <a
            href="/"
            class="text-sm text-white transition-colors duration-300 hover:text-deep-purple-accent-400"
            >Privacy</a
          >
        </li>
        <li>
          <a
            href="/"
            class="text-sm text-white transition-colors duration-300 hover:text-deep-purple-accent-400"
            >Policy</a
          >
        </li>
        <li>
          <a
            href="/"
            class="text-sm text-white transition-colors duration-300 hover:text-deep-purple-accent-400"
            >Cookies</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
