<footer id="footer" class="py-8 mt-32">
  <section class="w-4/5 mx-auto flex justify-between">
    <div>
      <p class="text-sm text-white m-0">
        &copy; Vacarion 2020 All Rights Reserved
      </p>
    </div>
    <div>
      <ul class="flex text-white items-center">
        <li class="mr-5"><a href="#" class="text-sm">Terms & Conditions</a></li>
        <li class="mr-5"><a href="#" class="text-sm">Privacy</a></li>
        <li class="mr-5"><a href="#" class="text-sm">Policy</a></li>
        <li class="mr-5"><a href="#" class="text-sm">Cookies</a></li>
      </ul>
    </div>
    <div>
      <ul class="flex items-center">
        <li
          class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
        >
          <i class="h-4 w-4" data-feather="instagram"></i>
        </li>
        <li
          class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
        >
          <i class="h-4 w-4" data-feather="twitter"></i>
        </li>
        <li
          class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
        >
          <i class="h-4 w-4" data-feather="linkedin"></i>
        </li>
        <li
          class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
        >
          <i class="h-4 w-4" data-feather="facebook"></i>
        </li>
        <li
          class="mr-4 h-8 w-8 rounded-full flex justify-center bg-white items-center"
        >
          <i class="h-4 w-4" data-feather="youtube"></i>
        </li>
      </ul>
    </div>
  </section>
</footer>
