<div class="mt-40" id="stories">
  <div class="flex flex-col items-center">
    <h2 class="text-4xl font-hairline text-gray-800 text-center">
      Share your stories
    </h2>
    <div class="h-1 bg-gray-400 w-12 mt-2"></div>
  </div>
  <div class="mt-10 mx-auto">
    <p class="text-sm font-hairline text-center text-gray-600">
      Join a community of awesome people, share your stories <br />
      and share them with people all over the world
    </p>
  </div>
  <div
    class="travel-stories flex justify-center md:justify-between items-center md:items-start"
  >
    <div class="w-1/5 hidden md:block"></div>
    <div class="w-1/5 hidden md:block"></div>
    <div class="w-1/5 hidden md:block"></div>
    <div class="md:w-1/5">
      <div class="w-full shadow-2xl mt-12">
        <div class="flex justify-center">
          <img
            src="https://randomuser.me/api/portraits/women/44.jpg"
            alt=""
            class="rounded-full border h-24 w-24"
          />
        </div>

        <div class="px-5 py-4 bg-white">
          <h3 class="text-center tracking-wide">Cynthia Mayoris</h3>
          <p
            class="text-center text-xs text-gray-500 uppercase tracking-wider font-semibold"
          >
            New York, USA
          </p>
          <div class="flex justify-center mt-4">
            <div class="flex mr-4">
              <span
                data-feather="user"
                class="fill-current h-4 w-4 mr-1"
              ></span>
              <p class="text-xxs font-bold">12k</p>
            </div>
            <div class="flex">
              <span
                data-feather="heart"
                class="fill-current h-4 w-4 mr-1"
              ></span>
              <p class="text-xxs font-bold">3k</p>
            </div>
          </div>
        </div>
        <div>
          <button
            class="w-full bg-blue-600 py-6 px-5 text-xs border border-blue-600 font-semibold text-white flex justify-center items-center shadow-xl cursor-pointer transform transition duration-300 hover:bg-blue-400 hover:border-blue-400"
          >
            View Stories <i data-feather="arrow-right" class="h-4 ml-3"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="w-1/5 hidden md:block"></div>
  </div>
</div>
