<div class="mt-32" id="contact">
  <section class="w-4/5 flex flex-col md:flex-row mx-auto">
    <div class="w-full md:w-1/3 px-4 block md:hidden">
      <!-- Header and arrow buttons -->
      <div>
        <h2 class="text-4xl font-hairline text-gray-700">
          What people <br />
          says
        </h2>
        <div class="h-1 bg-gray-300 w-10 mt-2"></div>
      </div>
    </div>

    <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
      <!-- Review text and rating -->
      <div class="flex justify-start md:justify-end mb-4 mt-4 md:mt-0">
        <i data-feather="star" class="h-3 fill-blue mr-1 text-blue-600 w-3"></i>
        <i data-feather="star" class="h-3 fill-blue mr-1 text-blue-600 w-3"></i>
        <i data-feather="star" class="h-3 fill-blue mr-1 text-blue-600 w-3"></i>
        <i data-feather="star" class="h-3 fill-blue mr-1 text-blue-600 w-3"></i>
        <i data-feather="star" class="h-3 text-gray-400 w-3"></i>
      </div>
      <p class="text-sm font-hairline text-gray-600">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam iure
        cupiditate necessitatibus aut, placeat dignissimos tempora accusantium
        beatae? Vitae placeat eum aperiam amet saepe porro commodi. Eos odio
        numquam totam?
      </p>
      <div class="mt-3">
        <p class="text-sm font-hairline text-left md:text-right">
          Barry Underwood
        </p>
        <p
          class="text-xs text-gray-400 uppercase font-semibold mt-1 text-left md:text-right"
        >
          Traveler
        </p>
      </div>
    </div>

    <div class="w-full md:w-1/3 px-4 flex justify-center">
      <!-- User photo -->
      <img
        src="/static/images/photo-male.jpg"
        alt="Someone's face"
        class="h-56 w-56 object-cover"
      />
    </div>
    <div class="w-full md:w-1/3 px-4">
      <!-- Header and arrow buttons -->
      <div class="hidden md:block">
        <h2 class="text-4xl font-hairline text-gray-700">
          What people <br />
          says
        </h2>
        <div class="h-1 bg-gray-300 w-10 mt-2"></div>
      </div>
      <div class="flex justify-start mt-12 ml-auto">
        <div>
          <button
            class="bg-white text-gray-500 border border-gray-400 py-4 px-4 text-xs font-semibold flex justify-center items-center mr-3 cursor-pointer transform transition duration-300 hover:bg-blue-600 hover:border-blue-600 hover:text-white hover:shadow-xl"
          >
            <i data-feather="arrow-left" class="h-4"></i>
          </button>
        </div>
        <div>
          <button
            class="bg-white text-gray-500 border border-gray-400 py-4 px-4 text-xs font-semibold flex justify-center items-center cursor-pointer transform transition duration-300 hover:bg-blue-600 hover:border-blue-600 hover:text-white hover:shadow-xl"
          >
            <i data-feather="arrow-right" class="h-4"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-12">
    <!-- slider indicators -->
    <div class="flex justify-center">
      <div class="h-1 w-10 bg-gray-400 mr-4"></div>
      <div class="h-1 w-10 bg-gray-400 mr-4"></div>
      <div class="h-1 w-10 bg-gray-400 mr-4"></div>
      <div class="h-1 w-10 bg-blue-600 mr-4"></div>
      <div class="h-1 w-10 bg-gray-400 mr-4"></div>
      <div class="h-1 w-10 bg-gray-400"></div>
    </div>
  </section>
</div>
